a:link, a:visited {
	font-family:"±¼¸²";
	COLOR:blue;
	text-decoration: none;
	font-size:9pt;
}
a:hover {
	COLOR:orange;
	text-decoration: none;
	font-size:9pt;
}
a:active {
	COLOR:red;
	text-decoration: none;
	font-size:9pt;
}



.default {
	color:black;
	font-family:"±¼¸²";
	font-size:9pt;

	line-height:115%;

	margin-top:0;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
}
.default:link, .default:visited {
	COLOR:blue;
	text-decoration: none;
	font-size:9pt;
}
.default:hover {
	COLOR:orange;
	text-decoration: none;
	font-size:9pt;
}
.default:active {
	COLOR:red;
	text-decoration: none;
	font-size:9pt;
}



.style1:link, .style1:visited {
	COLOR:red;
	text-decoration: none;
	font-family:"±¼¸²";
	font-size:9pt;
}
.style1:hover {
	COLOR:orange;
	text-decoration: none;
	font-family:"±¼¸²";
	font-size:9pt;
}
.style1:active {
	COLOR:red;
	text-decoration: none;
	font-family:"±¼¸²";
	font-size:9pt;
}



.graystyle:link, .graystyle:visited {
	COLOR:gray;
	text-decoration: none;
	font-family:"±¼¸²";
	font-size:9pt;
}
.graystyle:hover {
	COLOR:#222222;
	text-decoration: none;
	font-size:9pt;
}
.graystyle:active {
	COLOR:black;
	text-decoration: none;
	font-size:9pt;
}



.calendar            { font-family:"±¼¸²"; font-size:11px; text-decoration: none; color:#053C59}  
.calendar:hover      { font-family:"±¼¸²"; font-size:11px; text-decoration: none; color:#EE9129}
.calendar:visited    { font-family:"±¼¸²"; font-size:11px; text-decoration: none; color:#03354F}    


 
table.menu tr.disabled	{ 
			font-size:      0pt;
			border:         1px inset;
			height:         2px;
			overflow:       hidden;
}

TD {
	font-size:11px;
	line-Height:150%
}

